
@{
    ViewData["Title"] = "EmpPost";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<h1><b>Employee Data</b></h1>
<br/>
<br/>

<label>Name</label>
<input type="text" id="name" />
<br />
<br />

<label>Age</label>
<input type="number" id="age" />
<br />
<br />

<label>Gender</label>
<input type="text" id="gender" />
<br />
<br />

<label>Address</label>
<input type="text" id="address" />
<br />
<br />

<input type="submit" id="submitbtn">


<table id="employeeTables">
    <thead>
        <tr>
            <th>ID</th>

            <th>Name</th>

            <th>Age</th>

            <th>Gender</th>

            <th>Address</th>


            <!-- Add more table headers as needed -->
        </tr>
    </thead>
    <tbody id="employeeTable">
        <!-- Data will be added here -->
    </tbody>
</table>


<script src="~/content/js/empquery/empjs.js"></script>



