
@{
    ViewData["Title"] = "AddHotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">

<head>
    <title>Vendor</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
@*    <link rel="stylesheet" href="css/style.css">
*@</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light  bg-primary">
        @* <a class="navbar-brand" href="#">Add Employee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>*@
        <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" id="" href="https://localhost:7044/hotelmanagement/admin"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="" href="https://localhost:7044/hotelmanagement/adminhomepage"> Menu <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="" href="https://localhost:7044/hotelmanagement/getempdetails"> Add Employee <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="" href="https://localhost:7044/hotelmanagement/addhotel">Add Hotel <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="" href="https://localhost:7044/hotelmanagement/Adminseecustomerbookingdetails">Booking Details</a>
                </li>
                <li class="nav-item nav-item-right" style="margin-left: 1000px;">
                    <a href="https://localhost:7044/hotelmanagement/admin" class="nav-link badge badge-blue">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="modal fade" id="master-toggle" tabindex="-1" role="dialog" aria-labelledby="masterModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content master-popup-content">
                <div class="modal-header master-popup-header">
                    <h5 class="modal-title" id="masterModalLabel">Employees</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body master-popup-body">
                    <form action="" class="popup-form">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="name">Hotel Name:</label>
                                    <input type="text" id="hotelname" name="name" required class="form-control">
                                    <span class="text-danger" id="name-error"></span>

                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="address"> Address:</label>
                                    <input type="text" id="hoteladdress" name="address" required class="form-control">
                                    <span class="text-danger" id="address-error"></span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="phone"> Phone number:</label>
                                    <input type="tel" id="hotelphone" name="phone" required class="form-control">
                                    <span class="text-danger" id="phone-error"></span>

                                </div>
                            </div>
                       

                       

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" id="hotelemail" name="email" required>
                                    <span class="text-danger" id="email-error"></span>

                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="numberOfRooms">Number of Rooms:</label>
                                    <input type="number" id="numberOfRooms" name="numberOfRooms" min="1" required>
                                </div>
                            </div>
                            <div>
                            <label for="photo">Choose a photo:</label>
                            <input type="file" id="hotelimages" name="photo" accept="image/*">
                            <br>
                            </div>
                       
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group text-right mb-0">
                                    <span id="message"></span>
                                    <button type="button" id="submit" class="btn btn-info btnGrey">Save</button>
                                    <button type="button" class="btn btn-danger btnGrey" data-dismiss="modal">Close</button>
                                    @*                                     <button id="btnupdate" disabled>Update</button>
                                    *@
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Editedmaster-toggle" tabindex="-1" role="dialog" aria-labelledby="masterModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content master-popup-content">
                <div class="modal-header master-popup-header">
                    <h5 class="modal-title" id="masterModalLabel">Employees</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body master-popup-body">
                    <form action="" class="popup-form">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" id="Edithotelname" name="name" required class="form-control">
                                    <span class="text-danger" id="editname-error"></span>

                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="address">Address:</label>
                                    <input type="text" id="Edithoteladdress" name="address" required class="form-control">
                                    <span class="text-danger" id="editaddress-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="phone">Phone:</label>
                                    <input type="tel" id="Edithotelphone" name="phone" required class="form-control">
                                    <span class="text-danger" id="editphone-error"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" id="Edithotelemail" name="email" required class="form-control">
                                    <span class="text-danger" id="editemail-error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="phone">Number of rooms:</label>
                                    <input type="tel" id="Edithotelroom" name="Room" required class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group text-right mb-0">
                                    <span id="message"></span>
                                    <button type="button" id="BtnUpdate" class="btn btn-info btnGrey">Update</button>
                                    <input type="hidden" id="hiddenId">
                                    <button type="button" class="btn btn-danger btnGrey" data-dismiss="modal">Close</button>
                                 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="wraper-main-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="search-strip">
                        <ul class="search-box d-flex">
                            <li class="flex-grow-1"><input type="text" placeholder="Search.." id="search" class="form-control"></li>
                            <li><button type="button" class="btn btnGrey"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                        </ul>
                        <button type="button" data-toggle="modal" data-target="#master-toggle" class="btn btn-add-master btnGrey">+ Add</button>

                    </div>
                    <div class="table-responsive">
                        <table id="userTbl" class="table table-hover master-table table-bordered">
                            <thead class="table-light-head">
                                <tr>
                                    <th scope="col">S no.</th>
                                    <th scope="col">Hotel Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Emailid</th>
                                    <th scope="col">Number of Rooms</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="hotel">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="imageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" alt="Image Preview" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<script src="~/content/js/hotelmanagement/gethoteldetails.js"></script>






